.jumbotron {
    font-family: 'Permanent Marker', cursive;
    background-color:rgb(233, 218, 17);
    border-bottom:5px solid rgb(233, 17, 161);

}

i {
    font-size:50px;
    color:rgb(233, 17, 161);
    opacity:0.7;
    border-radius:10px;
}

.indexpic {
    font-size:75px;
}

#homepage {
    font-family: 'Permanent Marker', cursive;
    color:black;
}

h2 {
    font-family: 'Amatic SC', cursive;
    background-color:black;
    opacity:0.7;
    border-radius:30px;
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}

body {
    background-image:url(../images/restuarant-image.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: auto;
    -webkit-animation: backgroundScroll 20s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 15s linear 1;
    animation-fill-mode: forwards;
    }
    
}

a:visited {
    color: rgb(255, 255, 255) !important;
}

a:hover, a:active {
    color: white !important;
}

 a {
    color: white !important;
}

footer {
    position: fixed;
    height: 75px;
    bottom: 0;
    width: 100%;
    border-top: 5px solid rgb(233, 17, 161);
}

label {
    font-family: 'Amatic SC', cursive;
    color:white;
    font-size:50px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(233, 17, 161) !important;
    border:0;
}

h5 {
    color:rgb(233, 218, 17);
    font-family: 'Permanent Marker', cursive;
    text-align:center;
}

footer {
    background-color:black;
}